Source: reprotest
Maintainer: Reproducible builds folks <reproducible-builds@lists.alioth.debian.org>
Uploaders: 
Section: devel
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 dh-python,
 python3-all, 
 python3-setuptools,
Vcs-Git: https://anonscm.debian.org/git/reproducible/reprotest.git
Vcs-Browser: https://anonscm.debian.org/git/reproducible/reprotest.git
X-Python3-Version: >= 3.3

Package: reprotest
Architecture: all
Depends: ${python3:Depends},
 python3-debian,
 apt-utils,
 libdpkg-perl,
 procps,
 diffoscope,
 ${misc:Depends}
Recommends: autodep8
Suggests: schroot, lxc, lxd-client, qemu-system, qemu-utils
Description: Build packages and check them for reproducibility.
 Nothing to see here.
